/*
3l1b theme for highlight
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  /* background: rgb(235, 249, 252); */
  white-space: pre-wrap; 
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: 600;
}

.hljs,
.hljs-subst {
  color: #141414;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #039196;
}

.hljs-comment,
.hljs-quote {
  color: #667b7e;
  font-weight: 300;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #039196;
}

.hljs-deletion,
.hljs-variable {
  color: #039196;
}



.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #039196;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-attribute {
  color: #039196;
}
